## Association Rule Mining Using Apriori Algorithm

In [1]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.14.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (2.1.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\pc1\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 1.4/1.4 MB 10.8 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
data = pd.read_csv('../data/groceries.csv')

In [4]:
data.head()

,1,2,3,4,5,6,7,8,9
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN

In [6]:
baskets_sets = data.stack().str.get_dummies().groupby(level=0).sum()

In [7]:
baskets_sets.head()

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
baskets_sets_bool = baskets_sets.astype(bool)
apriori(baskets_sets_bool, min_support=0.02)

      support         itemsets
0    0.028155              (1)
1    0.054369              (8)
2    0.032039              (9)
3    0.027508             (10)
4    0.072492             (11)
..        ...              ...
105  0.022977       (154, 163)
106  0.033981       (162, 158)
107  0.055987       (162, 163)
108  0.022977  (121, 162, 101)
109  0.022977  (162, 163, 101)

[110 rows x 2 columns]

In [8]:
baskets_sets_bool = baskets_sets.astype(bool)
apriori(baskets_sets_bool, min_support=0.02, use_colnames=True)

      support                                         itemsets
0    0.028155                                       (UHT-milk)
1    0.054369                                           (beef)
2    0.032039                                        (berries)
3    0.027508                                      (beverages)
4    0.072492                                   (bottled beer)
..        ...                                              ...
105  0.022977                         (yogurt, tropical fruit)
106  0.033981                 (whole milk, whipped/sour cream)
107  0.055987                             (whole milk, yogurt)
108  0.022977  (whole milk, root vegetables, other vegetables)
109  0.022977           (whole milk, yogurt, other vegetables)

[110 rows x 2 columns]

In [9]:
df_combo = baskets_sets.astype(bool)

frequent_itemsets = apriori(df_combo, min_support=0.002, use_colnames=True)

frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

frequent_itemsets

       support                                           itemsets  length
0     0.007120                            (Instant food products)       1
1     0.028155                                         (UHT-milk)       1
2     0.002913                                 (abrasive cleaner)       1
3     0.003560                                 (artif. sweetener)       1
4     0.014887                                    (baking powder)       1
...        ...                                                ...     ...
2313  0.002265  (other vegetables, yogurt, citrus fruit, whole...       5
2314  0.002589  (other vegetables, whipped/sour cream, yogurt,...       5
2315  0.002265  (other vegetables, pip fruit, whipped/sour cre...       5
2316  0.002265  (other vegetables, tropical fruit, yogurt, who...       5
2317  0.002265  (other vegetables, whipped/sour cream, tropica...       5

[2318 rows x 3 columns]

In [10]:
frequent_itemsets[(frequent_itemsets['length']>=3)]

       support                                           itemsets  length
1260  0.002589        (UHT-milk, bottled water, other vegetables)       3
1261  0.002265                    (UHT-milk, bottled water, soda)       3
1262  0.002589      (other vegetables, baking powder, whole milk)       3
1263  0.002265    (whipped/sour cream, baking powder, whole milk)       3
1264  0.002589                        (whole milk, berries, beef)       3
...        ...                                                ...     ...
2313  0.002265  (other vegetables, yogurt, citrus fruit, whole...       5
2314  0.002589  (other vegetables, whipped/sour cream, yogurt,...       5
2315  0.002265  (other vegetables, pip fruit, whipped/sour cre...       5
2316  0.002265  (other vegetables, tropical fruit, yogurt, who...       5
2317  0.002265  (other vegetables, whipped/sour cream, tropica...       5

[1058 rows x 3 columns]

In [11]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.9)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"(hamburger meat, curd)",(whole milk),0.003236,0.256634,0.003236,1.000000,3.896595,0.002406,inf,0.745779
1,"(frozen fish, root vegetables)",(whole milk),0.002265,0.256634,0.002265,1.000000,3.896595,0.001684,inf,0.745054
2,"(bottled water, sausage, soda)",(yogurt),0.003560,0.136893,0.003236,0.909091,6.640877,0.002749,9.494175,0.852452
3,"(bottled water, sausage, yogurt)",(soda),0.003560,0.159223,0.003236,0.909091,5.709534,0.002669,9.248544,0.827801
4,"(pip fruit, whole milk, butter)",(other vegetables),0.003560,0.192557,0.003236,0.909091,4.721161,0.002551,8.881877,0.791004

In [12]:
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(other vegetables),(Instant food products),0.192557,0.007120,0.002265,0.011765,1.652406,0.000894,1.004700,0.488978
1,(Instant food products),(other vegetables),0.007120,0.192557,0.002265,0.318182,1.652406,0.000894,1.184250,0.397653
2,(Instant food products),(root vegetables),0.007120,0.110032,0.002265,0.318182,2.891711,0.001482,1.305286,0.658875
3,(root vegetables),(Instant food products),0.110032,0.007120,0.002265,0.020588,2.891711,0.001482,1.013752,0.735065
4,(UHT-milk),(bottled water),0.028155,0.111974,0.006472,0.229885,2.053020,0.003320,1.153108,0.527772

In [18]:
rules[(rules['lift']>=5) & (rules['confidence']>= 0.8)]

                                          antecedents  ... zhangs_metric
7111                   (soda, sausage, bottled water)  ...      0.852452
7113                 (sausage, yogurt, bottled water)  ...      0.827801
7377               (canned beer, sausage, rolls/buns)  ...      0.907667
8132  (dessert, whipped/sour cream, other vegetables)  ...      0.848466
8187          (frankfurter, pastry, other vegetables)  ...      0.807331
8313               (hamburger meat, whole milk, pork)  ...      0.809539

[6 rows x 10 columns]