In [3]:
import numpy as np
import pandas as pd

In [4]:
series_obj = pd.Series(["row1","row2",np.nan,"row4","row5","row6",np.nan,"row8","row9"])

In [11]:
len(series_obj[series_obj.isnull()])

2

In [49]:
DF= pd.DataFrame(np.random.rand(36).reshape(6,6))
DF

          0         1         2         3         4         5
0  0.909158  0.655774  0.419727  0.593090  0.902875  0.528121
1  0.251700  0.195467  0.189763  0.627678  0.995228  0.923223
2  0.096307  0.361281  0.213442  0.234015  0.336796  0.999831
3  0.194097  0.139684  0.300492  0.562385  0.938180  0.449728
4  0.345962  0.355715  0.736244  0.186734  0.521798  0.137094
5  0.878309  0.821427  0.333327  0.096238  0.102683  0.446735

In [50]:
DF.loc[3:5,0] = np.nan
DF.loc[1:4,5] = np.nan

In [51]:
# Se rellenan los na con 0
FilledDF=DF.fillna(0)
FilledDF

          0         1         2         3         4         5
0  0.909158  0.655774  0.419727  0.593090  0.902875  0.528121
1  0.251700  0.195467  0.189763  0.627678  0.995228  0.000000
2  0.096307  0.361281  0.213442  0.234015  0.336796  0.000000
3  0.000000  0.139684  0.300492  0.562385  0.938180  0.000000
4  0.000000  0.355715  0.736244  0.186734  0.521798  0.000000
5  0.000000  0.821427  0.333327  0.096238  0.102683  0.446735

In [35]:
# Se rellenan los na con valores personalizados de acuerdo al diccionario {columna 0:0.1, columna5:1.25}
FilledDF=DF.fillna({0:0.1,5:1.25})
FilledDF

          col1      col2      col3      col4      col5      col6
row1  0.640118  0.294532  0.755328  0.689471  0.064269  0.150018
row2  0.970705  0.539962  0.310651  0.135913  0.807372  0.251384
row3  0.909653  0.733148  0.016477  0.624027  0.449966  0.439311
row4  0.449141  0.294686  0.952071  0.425695  0.057683  0.236714
row5  0.674897  0.133043  0.982955  0.665158  0.711711  0.468969
row6  0.331628  0.006552  0.443197  0.990697  0.993859  0.207845

In [36]:
# Rellenar valores nulos con el Ãºltimo valor
fill_DF=DF.fillna(method="ffill")
fill_DF

C:\Users\PC1\AppData\Local\Temp\ipykernel_22812\2420916358.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fill_DF=DF.fillna(method="ffill")

          col1      col2      col3      col4      col5      col6
row1  0.640118  0.294532  0.755328  0.689471  0.064269  0.150018
row2  0.970705  0.539962  0.310651  0.135913  0.807372  0.251384
row3  0.909653  0.733148  0.016477  0.624027  0.449966  0.439311
row4  0.449141  0.294686  0.952071  0.425695  0.057683  0.236714
row5  0.674897  0.133043  0.982955  0.665158  0.711711  0.468969
row6  0.331628  0.006552  0.443197  0.990697  0.993859  0.207845

In [37]:
# Rellenar valores nulos con el siguiente valor
fill_DF=DF.fillna(method="bfill")
fill_DF

C:\Users\PC1\AppData\Local\Temp\ipykernel_22812\158621147.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fill_DF=DF.fillna(method="bfill")

          col1      col2      col3      col4      col5      col6
row1  0.640118  0.294532  0.755328  0.689471  0.064269  0.150018
row2  0.970705  0.539962  0.310651  0.135913  0.807372  0.251384
row3  0.909653  0.733148  0.016477  0.624027  0.449966  0.439311
row4  0.449141  0.294686  0.952071  0.425695  0.057683  0.236714
row5  0.674897  0.133043  0.982955  0.665158  0.711711  0.468969
row6  0.331628  0.006552  0.443197  0.990697  0.993859  0.207845

In [32]:
DF.isnull().sum()

0    3
1    0
2    0
3    0
4    0
5    4
dtype: int64

In [52]:
#Borra filas
DF.dropna()

          0         1         2        3         4         5
0  0.909158  0.655774  0.419727  0.59309  0.902875  0.528121

In [53]:
#Borra columnas
DF.dropna(axis=1)

          1         2         3         4
0  0.655774  0.419727  0.593090  0.902875
1  0.195467  0.189763  0.627678  0.995228
2  0.361281  0.213442  0.234015  0.336796
3  0.139684  0.300492  0.562385  0.938180
4  0.355715  0.736244  0.186734  0.521798
5  0.821427  0.333327  0.096238  0.102683