In [7]:
import numpy as np
import pandas as pd

DF=pd.DataFrame(np.random.rand(36).reshape((6,6)),
             index=["row1","row2","row3","row4","row5","row6"],
             columns=["col1","col2","col3","col4","col5","col6"])

In [10]:
DF

          col1      col2      col3      col4      col5      col6
row1  0.570421  0.928959  0.952127  0.337244  0.348927  0.444703
row2  0.844542  0.995369  0.488701  0.899861  0.070343  0.443579
row3  0.981496  0.501397  0.094005  0.418995  0.237600  0.556196
row4  0.789883  0.115310  0.551240  0.308519  0.081771  0.326390
row5  0.674451  0.886169  0.393875  0.033091  0.779634  0.977020
row6  0.539479  0.386058  0.066733  0.412457  0.832170  0.487206

In [22]:
DF.loc["row5",["col2"]]

col2    0.886169
Name: row5, dtype: float64

In [30]:
DF.iloc[3]

col1    0.789883
col2    0.115310
col3    0.551240
col4    0.308519
col5    0.081771
col6    0.326390
Name: row4, dtype: float64

In [33]:
DF["col3"]

row1    0.952127
row2    0.488701
row3    0.094005
row4    0.551240
row5    0.393875
row6    0.066733
Name: col3, dtype: float64

In [35]:
test=[x for x in range(1,100)]

In [43]:
test[-5:]

[95, 96, 97, 98, 99]