# Kmeans

Es un algoritmo que depende del cálculo de distancias, por lo tanto es necesario escalar las variables

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [3]:
USArrests = sm.datasets.get_rdataset("USArrests", "datasets")
datos = USArrests.data
datos.head(4)

          Murder  Assault  UrbanPop  Rape
rownames
Alabama     13.2      236        58  21.2
Alaska      10.0      263        48  44.5
Arizona      8.1      294        80  31.0
Arkansas     8.8      190        50  19.5

In [7]:
from sklearn.preprocessing import scale

df=datos.apply(scale)
df.head()

              Murder   Assault  UrbanPop      Rape
rownames
Alabama     1.255179  0.790787 -0.526195 -0.003451
Alaska      0.513019  1.118060 -1.224067  2.509424
Arizona     0.072361  1.493817  1.009122  1.053466
Arkansas    0.234708  0.233212 -1.084492 -0.186794
California  0.281093  1.275635  1.776781  2.088814

Lo más dificil es calcular el número óptimo de clusters, para esto, es importante realiza tres pruebas: Método elbow, avarage silhouette y estadística gap. No siempre coinciden los valores pero sirve para acotar las opciones.